html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 24px;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.add-button {
    background-color: green;
    color: white;
}

.edit-button {
    background-color: blue;
    color: white;
}

.delete-button {
    background-color: red;
    color: white;
}

.details-button {
    background-color: dimgrey;
    color: white;
}