@model CdDiskStoreAspNetCore.Data.Models.Disc

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mb-4">Details</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Disc</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Create" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>

</div>